{% load otree_tags staticfiles %}

<div class="instructions well well-lg">


<p>&nbsp;</p>
<table style="border-color: black; margin-left: auto; margin-right: auto; width: 826px;" border="2">
<tbody>
<tr>
<td style="width: 423px;">
<p><em>Die sichere Anlage</em></p>
</td>
<td style="width: 432px;">
<p><em>Die riskante Anlage</em></p>
</td>
</tr>
<tr>
<td style="width: 423px;">
<p>&nbsp;</p>
<p>Der Kunde erh&auml;lt eine Rendite von 0% auf das investierte Kapital.</p>
<p>&nbsp;</p>
</td>
<td style="width: 432px;">
<p>Mit einer Wahrscheinlichkeit von &nbsp;erh&auml;lt der Kunde eine Rendite von +250% auf das investierte Kapital.</p>
<p>Mit einer Wahrscheinlichkeit von &nbsp;erh&auml;lt der Kunde eine Rendite von -100% auf das investierte Kapital.</p>
</td>
</tr>
</tbody>
</table>
	
</div>
